{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="w-100 py-5 py-md-5 py-lg-5 py-xl-5 mb-5">
        <div class="container px-4 px-md-6">
          <div class="row g-4">
            <div class="col-lg-8">
              <div class="d-flex flex-column justify-content-center mb-4">
                <h1 class="text-3xl fw-bold sm:text-5xl xl:text-6xl">
                  Welcome to NexClass, {{user.username}}
                </h1>
                <p class="max-w-600 text_custom">
                    How are you, ready to learn?
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
{% endblock content %}