{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register now</h1>

    <form method="POST">
    {% csrf_token %}
    {{ user_form.as_p }}
    {% if user_form.cleaned_data.user_type == 'Teacher' %}
        {{ teacher_form.as_p }}
    {% elif user_form.cleaned_data.user_type == 'Student' %}
        {{ student_form.as_p }}
    {% endif %}
    <button type="submit">Sign Up</button>
</form>
    <a href="{% url 'login' %}" class="navegacion__enlace">I already have an account</a>
</body>
</html>
{% endblock content %}