/* Variables del tema */
:root {
  --bg-color: #010f1e;
  --text-color: #cdfffe;
  --nav-bg-color: #275972;
  --button-bg-color: #010f1e;
  --button-bg-color-two: #275972;
  --button-text-color: #cdfffe;
  --border-color: #cdfffe;
}

/* Tema oscuro */
.dark-theme {
  --bg-color: #010f1e;
  --text-color: #cdfffe;
  --nav-bg-color: #275972;
  --button-bg-color: #010f1e;
  --button-bg-color-two: #275972;
  --button-text-color: #cdfffe;
  --border-color: #bd8787;
}

/* Tema claro */
.light-theme {
  --bg-color: #f4f4f4; /* Color de fondo más claro */
  --text-color: #010f1e; /* Color de texto oscuro */
  --nav-bg-color: #ffffff; /* Fondo blanco para la navegación */
  --button-bg-color: #275972; /* Fondo para botones */
  --button-bg-color-two: #275972; /* Color secundario para botones */
  --button-text-color: #010f1e; /* Texto oscuro para botones */
  --border-color: #275972; /* Color de borde oscuro */
}

/* Estilo de la página utilizando variables */
body {
  font-family: "Space Mono", monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  color: var(--text-color);
}

.text_custom {
  color: var(--text-color);
}

.background-color-custom {
  background-color: var(--nav-bg-color);
}

.background-color-custom-two {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.background-color-custom-two:focus {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.background-color-custom-two::placeholder {
  color: var(--text-color);
}

/* Estilo general para los botones cuadrados */
.button-custom {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-color); /* Ajuste el grosor del borde */
  border-radius: 0;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el botón cuando está en foco (seleccionado) */
.button-custom:focus {
  outline: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.button-custom-two {
  background-color: var(--button-bg-color-two);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
  border-radius: 0;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-custom-two:focus {
  outline: none;
  background-color: var(--button-bg-color-two);
  color: var(--button-text-color);
}

a {
  gap: 2px;
  color: var(--text-color);
}

.border-dotted {
  border: 2px dotted var(--border-color);
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

td{
  background-color: transparent;
}
