{% extends 'base.html' %}
{% block content %}
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitación Enviada</title>
</head>
<body>
    <div >
        <a href="home.html">
            <h1>n<span >ext</span>c<span>lass</span></h1>
        </a>
        <nav >
            <a href="{%  url 'favoritos'%}" >Favoritos</a>
            <a href="{% url 'teachers'%}">Teachers</a>
            <a href="{% url 'edit_profile'%}">Perfil</a>
            <a href="{% url 'loguout'%} ">Salir</a>
        </nav>
    </div>
    <div>
        <h1>Invitación Enviada</h1>
        <p>La invitación a la reunión ha sido enviada a los correos electrónicos proporcionados.</p>
        <p>Enlace de la reunión: <a href="{{ meet_link }}">{{ meet_link }}</a></p>
        <a href="{% url 'student_clases' %}">Volver al listado de clases</a>
    </div>
</body>
</html>
{% endblock content %}