{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<head>
    <title>Clases</title>
</head>
<div class="container mt-3">
    <h1 class="text-center">Find your ideal class: {{user.username }}</h1>
    <div class="d-flex justify-content-center mt-5 dark-theme">
        <form method="GET" action="{% url 'student_classes' %}" class="w-50 p-4 border rounded-3">
            <div class="mb-3">
                <label for="searchClass" class="form-label">Search:</label>
                <input type="text" id="searchClass" name="searchClass" class="form-control rounded-pill" value="{{ request.GET.searchClass }}">
            </div>
    
            <div class="mb-3">
                <label for="className" class="form-label">Class Name:</label>
                <select id="className" name="className" class="form-select rounded-pill">
                    <option value=""></option>
                    {% for class in className %}
                        <option value="{{ class }}" {% if request.GET.className == class %}selected{% endif %}>{{ class }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="mb-3">
                <label for="teacher" class="form-label">Teacher:</label>
                <select id="teacher" name="teacher" class="form-select rounded-pill">
                    <option value=""></option>
                    {% for teacher_name in teacher %}
                        <option value="{{ teacher_name }}" {% if request.GET.teacher == teacher_name %}selected{% endif %}>{{ teacher_name }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <button type="submit" class="btn btn-primary w-100 rounded-pill">Search</button>
        </form>
    </div>
    

    <div class="row">
        {% for class in classes %}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card bg-transparent border">
                <img class="card-img-top px-3 pt-3" src="{{ class.class_picture.url }}" alt="{{ class.className }}">
                <div class="card-body text_custom">
                    <h5 class="card-title text-center fw-bold">{{ class.className }}</h5>
                    <p class="card-text">Profesor: {{ class.teacher.user.name }}</p>
                    <p class="card-text"><small>Acerca del curso: {{ class.description|truncatewords:30 }}</small></p>

                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'add_favorite_class' class.id %}" class="btn btn-light button-custom mb-3">Agregar a Favoritos</a>
                    <a href="{% url 'class_detail' class.id %}" class="btn btn-light button-custom mb-3">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}