{% extends 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<div class="container mt-3">
    <h1>Find your ideal class: {{user.username }}</h1>
    <form method="GET" action="{% url 'student_classes' %}">
        <div>
            <label for="searchClass">Search: </label>
            <input type="text" id="searchClass" name="searchClass" value="{{ request.GET.searchClass }}">
        </div>

        <div>
            <label for="className">Class Name:</label>
            <select id="className" name="className">
                <option value=""></option>
                {% for class in className %}
                <option value="{{ class }}" {% if request.GET.className == class %}selected{% endif %}>{{ class }}</option>

                {% endfor %}
            </select>
        </div>

        <div>
            <label for="teacher">Teacher:</label>
            <select id="teacher" name="teacher">
                <option value=""></option>
                {% for teacher_name in teacher %}
                    <option value="{{ teacher_name }}" {% if request.GET.teacher == teacher_name %}selected{% endif %}>{{ teacher_name }}</option>

                {% endfor %}
            </select>
        </div>

        <button type="submit" class="button-custom-two ">Search</button>
    </form>

    <div class="row">
        {% for class in classes %}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card bg-transparent border">
                <img class="card-img-top px-3 pt-3" src="{{ class.class_picture.url }}" alt="{{ class.className }}">
                <div class="card-body text_custom">
                    <h5 class="card-title text-center fw-bold">{{ class.className }}</h5>
                    <p class="card-text">Profesor: {{ class.teacher.user.name }}</p>
                    <p class="card-text"><small>Acerca del curso: {{ class.description }}</small></p>

                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'add_favorite_class' class.id %}" class="button-custom-two mb-3">Agregar a Favoritos</a>
                    <a href="{% url 'class_detail' class.id %}" class="button-custom-two mb-3">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}