{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Clases</title>
</head>
<body>
    <h1>Mis Clases</h1>
    <ul>
        {% for class in classes %}
            <li>
                <strong>{{ class.className }}</strong><br>
                <p>{{ class.description }}</p>
                <p>Profesor: {{ class.teacher.user.name }}</p>
                <form action="{% url 'create_meet' class.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Crear Llamada</button>
                </form>
            </li>
        {% empty %}
            <li>No tienes clases asignadas.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'student_classes' %}">Ver mis clases</a>
</body>
</html>
{% endblock content %}
