{% extends 'navbarteacher.html' %}

{% block title %}Schedule Edit{% endblock %}

{% block content %}
<head>
    <title>Edita Cronograma</title>
</head>
<div class="container mt-4">
    <h1 class="mb-4">Class Edit</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-custom-two ">Save Changes</button>
        <a href="{% url 'class_detail_teacher' class_obj_instance.id %}" class="button-custom text-decoration-none">Cancel</a>
    </form>
</div>
{% endblock %}
