{% extends 'navbarTeacher.html' %}

{% block content %}
<head>
    <title>Quiz Detail</title>
</head>
<div class="container mt-5">
    <h1 class="mb-4">Titulo: {{ quiz.title }}</h1>
    <p><strong>Descripcion: </strong>{{ quiz.description }}</p>
    <p><strong>Creado el:</strong> {{ quiz.created_at|date:"F j, Y" }}</p>
    <hr>
    <h2 class="mb-4">Preguntas</h2>
    {% if quiz.question_set.count == 0 %}
        <p>No hay preguntas en este quiz.</p>
    {% else %}
        <div class="list-group ">
            {% for question in quiz.question_set.all %}
                <div class="list-group-item border bg-transparent">
                    <h5>{{ forloop.counter }}. {{ question.text }}</h5>
                    <ul class="list-group">
                        {% for answer in question.answers.all %}
                            <li class="text_custom list-group-item d-flex justify-content-between align-items-center bg-opacity-10 bg-info">
                                {{ answer.text }}
                                {% if answer.is_correct %}
                                    <span class="badge bg-success">Correcta</span>
                                {% else %}
                                    <span class="badge bg-danger">Incorrecta</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class=" d-grid gap-2 col-6 mx-auto m-3">
        <a href="{% url 'quiz_list_by_class' quiz.class_obj.id %}" class="btn btn-light button-custom">Volver a la lista de Quizzes</a>
    </div>
</div>
{% endblock %}
