<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>


<header>
    <div class="contenedor">
        <div class="barra">
            <a class="logo" href="{% url 'home' %}">
                <h1 class="logo__nombre no-margin centrar-texto">n<span class='logo__color'>ext</span>c<span class="logo__color">lass</span></h1>
            </a>

            <nav class="navegacion" >
                <a href="{%  url 'favoritos' %}" class="navegacion__enlace">Favoritos</a>
                <a href="{% url 'teachers' %}" class="navegacion__enlace">Teachers</a>
                <a href="{% url 'student_classes' %}" class="navegacion__enlace">Mis Clases</a>
                <a href="{% url 'edit_profile' %}" class="navegacion__enlace">Modificar Perfil</a>
            </nav>
        </div>
    </div>
</header>

<div class="container"></div>
    {% block content %}
    {% endblock content %}
</div>