{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find your ideal teacher</h1>
    
    <!-- Formulario de búsqueda -->
    <form method="GET" action="{% url 'teachers' %}">
        <div>
            <label for="searchTeacher">Search: </label>
            <input type="text" id="searchTeacher" name="searchTeacher" value="{{ request.GET.searchTeacher }}">
        </div>
        
        <div>
            <label for="specialties">Specialties:</label>
            <select id="specialties" name="specialties">
                <option value=""></option>
                {% for key, value in specialties %}
                    <option value="{{ key }}" {% if request.GET.specialties == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div>
            <label for="mode">Mode:</label>
            <select id="mode" name="mode">
                <option value=""></option>
                {% for key, value in modes %}
                    <option value="{{ key }}" {% if request.GET.mode == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div>
            <label for="availability">Availability:</label>
            <select id="availability" name="availability">
                <option value=""></option>
                {% for key, value in availabilities %}
                    <option value="{{ key }}" {% if request.GET.availability == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="rating">Rating (min):</label>
            <input type="number" id="rating" name="rating" min="0" max="5" step="0.1" value="{{ request.GET.rating }}">
        </div>
    
        <button type="submit">Search</button>
    </form>
    

    <!-- Resultados de búsqueda -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for teacher in teachers %}
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{{ teacher.user.profile_picture.url }}" alt="{{ teacher.user.username }}">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ teacher.user.username }}</h5>
                    <p class="card-text">{{ teacher.biography }}</p>
                    <p class="card-text"><small>Rating: {{ teacher.average_rating }}</small></p>
                    <p class="card-text"><small>Modalidad: {{ teacher.get_mode_display }}</small></p>
                    <p class="card-text"><small>Disponibilidad: {{ teacher.get_availability_display }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock content %}
