{% extends 'navbar.html' %}
{% block content %}

    <div class="container-fluid">
    {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ teacher.user.profile_picture.url }}" class="img-fluid rounded-start p-5" alt="user image">
                </div>

                <div class="col-md-8 p-5">
                    <div class="card-body text_custom p-0 m-0 ">
                        <h2 class="card-title text-center mb-3"> {{ teacher.user.username }} </h2>
                            <div class="row align-items-end">
                                <div class="col ">
                                    <strong>Biography:</strong> {{ teacher.biography }}
                                </div>
                                <div class="col ">
                                    <strong>Specialties:</strong> {{ teacher.get_specialties_display }}
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col ">
                                    <strong>Average Rating:</strong> {{ average_rating }}
                                </div>
                                <div class="col ">
                                    <strong>Mode:</strong> {{ teacher.get_mode_display }}
                                </div>
                                <div class="col ">
                                    <strong>Availability:</strong> {{ teacher.get_availability_display }}
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col ">
                                    <strong>Location:</strong> {{ teacher.user.address }}
                                </div>
                                <div class="col ">
                                    <strong>Registration date:</strong> {{ teacher.user.registration_date|date:"Y-m-d" }}
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col ">
                                    <ul class="list-group list-group-flush ">
                                        {% for rating in ratings %}
                                            <li class="list-group-item bg-transparent border"> <p class="text_custom"><strong>{{ rating.student.user.username }}</strong>: {{ rating.rating }} - {{ rating.comment }}</p></li>
                                        {% empty %}
                                            <p class="text_custom">No ratings yet.</p>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'rate_teacher' teacher.id %}" class="button-custom-two mb-3">Rate this Teacher</a>
                                <a href="{% url 'student_classes_teacher' teacher.id %}" class="button-custom-two mb-3">Clases del profesor</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card de Blog del Profesor -->
        <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
            <div class="card-body text_custom">
                <h2 class="card-title text-center"> Blog del Profesor </h2>
                <ul class="list-group list-group-flush">
                    {% for post in blog_posts %}
                        <li class="list-group-item bg-transparent border">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.content|truncatewords:30 }}</p>
                            {% if post.url %}
                                <p><a href="{{ post.url }}" target="_blank" class="btn btn-info btn-sm">Ver Enlace Relacionado</a></p>
                            {% endif %}
                            <a href="{% url 'view_blog_post' post.id %}" class="btn btn-primary btn-sm">Leer más</a>
                        </li>
                    {% empty %}
                        <p class="text_custom">Este profesor aún no tiene publicaciones en el blog.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}
