{% extends 'navbar.html' %}
{% block content %}

    <div class="container-fluid">
    {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ teacher.user.profile_picture.url }}" class="img-fluid rounded-start p-5" alt="user image">
                </div>

                <div class="col-md-8 p-5">
                    <div class="card-body text_custom p-0 m-0 ">
                        <h2 class="card-title text-center mb-3"> {{ teacher.user.username }} </h2>
                            <div class="row align-items-end">
                                <div class="col ">
                                    <h5><strong>Biography:</strong></h5> <p>{{ teacher.biography }}</p>
                                </div>
                            </div>

                            <div class="row align-items-end my-4 border-top border-bottom">
                                <div class="row my-3">
                                <div class="col ">
                                    <h5><strong>Specialties:</strong></h5> {{ teacher.specialities }}
                                </div>
                                <div class="col ">
                                    <h5><strong>Mode:</strong></h5> {{ teacher.mode }}
                                </div>
                                <div class="col ">
                                    <h5><strong>Availability:</strong></h5> {{ teacher.availability }}
                                </div>
                                </div>
                            </div>
                            <div class="row align-items-end border-bottom">
                                <div class="row">
                                    <div class="col ">
                                        <h5><strong>Location:</strong></h5> <p>{{ teacher.user.address }}</p>
                                    </div>
                                    <div class="col ">
                                        <h5><strong>Rating:</strong></h5> {{ average_rating }}
                                    </div>
                                    <div class="col ">
                                        <h5><strong>Registration date:</strong></h5> <p>{{ teacher.user.registration_date|date:"Y-m-d" }}</p>
                                    </div>
                                </div>

                            </div>
                            <div class="row align-items-end">
                                <div class="col ">
                                    <ul class="list-group list-group-flush ">
                                        {% for rating in ratings %}
                                            <li class="list-group-item bg-transparent border"> <p class="text_custom"><strong>{{ rating.student.user.username }}</strong>: {{ rating.rating }} - {{ rating.comment }}</p></li>
                                        {% empty %}
                                            <p class="text_custom text-center mt-4">No ratings yet.</p>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'rate_teacher' teacher.id %}" class="btn btn-light button-custom mb-3">Rate this Teacher</a>
                                <a href="{% url 'student_classes_teacher' teacher.id %}" class="btn btn-light button-custom mb-3">Classes of Teacher</a>
                                <a href="{% url 'get_or_create_private_chat' teacher.user.id %}" class="btn btn-light button-custom mb-3">Enviar Mensaje a profesor</a>

                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card de Blog del Profesor -->
        <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
            <div class="card-body text_custom">
                <h2 class="card-title text-center"> Blog del Profesor </h2>
                <ul class="list-group list-group-flush">
                    {% for post in blog_posts %}
                        <li class="list-group-item bg-transparent border">
                            <h3>{{ post.title }}</h3>
                            <p style="color: var(--text-color);">{{ post.content|truncatewords:30 }}</p>

                            <div class="d-flex gap-2"> <!-- Contenedor d-flex para los enlaces -->
                                {% if post.url %}
                                    <a href="{{ post.url }}" target="_blank" class="btn btn-info btn-sm button-custom">Ver Enlace Relacionado</a>
                                {% endif %}
                                <a href="{% url 'view_blog_post' post.id %}" class="btn btn-primary btn-sm button-custom-two">Leer más</a>
                            </div>
                        </li>
                    {% empty %}
                        <p class="text_custom">Este profesor aún no tiene publicaciones en el blog.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>

{% endblock content %}
